<div class="section-2" id="section-2">
    <div class="container">

        <h2 class="h2">продукция</h2>

        <ul class="section-2__list">
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-1.png" alt="">
                </div>
                <div class="section-2__list_item_title">Циплята</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-2.png" alt="">
                </div>
                <div class="section-2__list_item_title">Утята</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-3.png" alt="">
                </div>
                <div class="section-2__list_item_title">Курица</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-4.png" alt="">
                </div>
                <div class="section-2__list_item_title">Утка</div>
            </li>
        </ul>

    </div>
    <!-- /.container -->
</div>
<!-- /.section-2 -->