.section-2 {
  padding: 80px 0 100px;
  background-color: $white;
}

.section-2__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.section-2__list_item {
  margin-right: 70px;
  img {
    width: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
}

.section-2__list_item_img {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.section-2__list_item_title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  color: #282828;
  text-align: center;
}