<div class="header">
    <div class="container">

        <div class="header__block">

            <div class="header__left">
                <div class="header__logo">
                    <img src="../../assets/img/logo.png" alt="">
                </div>
                <div class="header__logo_label">
                    Разведение и реализация с/х птицы, <br>
                    пророщенных кур и уток
                </div>
            </div>
            <!-- /.header__left -->

            <div class="header__right">

                <div class="header__info">
                    <div class="header__info_tel">
                        <div class="header__info_tel_label">Звоните</div>
                        <a href="tel:89600599697" class="header__info_tel_link">8 9600 59 96 97</a>
                    </div>
                    <div class="header__info_address">
                        <div class="box">
                            Заинский район <br>
                            д. Верхние Пинячи
                        </div>
                        <div class="box">
                            Тукаевский район, <br>
                            совхоз Татарстан
                        </div>
                    </div>
                    <button class="header__info_btn btn-modal-call">Запросить консультацию</button>
                </div>
                <!-- /.header__info -->

                <nav class="navigation">
                    <a href="#section-5" class="navigation__link js-anchor">о ферме</a>
                    <a href="#section-3" class="navigation__link js-anchor">цифры</a>
                    <a href="#section-4" class="navigation__link js-anchor">продукция</a>
                    <a href="#section-6" class="navigation__link js-anchor">фото</a>
                    <a href="#contacts" class="navigation__link js-anchor">Контакты</a>
                </nav>
                <!-- /.navigation -->

            </div>
            <!-- /.header__right -->

        </div>
        <!-- /.header__block -->

    </div>
    <!-- /.container -->
</div>
<!-- /.header -->