<div class="section-5">
    <div class="container">

        <h2 class="h2">Семейная птицеферма Мартемьяновых</h2>

        <div class="section-5__block">
            <div class="section-5__block_item">
                <div class="section-5__block_item_img">
                    <img src="../../assets/img/section-5__img-1.jpg" alt="">
                </div>
                <div class="section-5__block_item_text">
                    <p>В селе Верхние Пинячи на нескольких поворотах установлены указатели «Птицеферма», ведущие в крестьянско-фермерское хозяйство Артура Мартемьянова. Все продумано – чтобы поставщики птенцов и оптовики не заплутали. Вот и мы, съехав с основной трассы «Заинск- Набережные Челны», в течение пары минут добрались до места.</p>
                    <p>
                        Не офисная встреча <br>
                        Приехали в «горячую» пору. На въезде в птицеферму полным ходом шла стройка. Тут возводится новый объект – закрытый дезбарьер, который является необходимым требованием времени. Это сооружение рассчитано для дезинфекции транспорта, въезжающего на территорию.
                        <br>
                        - Где ваш руководитель? Как пройти к нему в офис? – спрашиваю у рабочих. <br>
                        - Да вот же он – с нами работает? Но офис у него тоже есть! – отвечают мне. <br>
                        С самой верхней точки строительных лесов, установленных возле дезбарьера, с улыбкой смотрит руководитель: молодой человек – не в строгом костюме, а в обычной рабочей одежде, очень открытый и простой в общении – не испортили его деньги, дающиеся нелегко, а с большим трудом. Артур Мартемьянов за считанные секунды спустился вниз.
                        <br>
                        - Привык все делать своими руками и держать дела под контролем. Поэтому сейчас нахожусь вместе с рабочими на высоте, - говорит фермер. – Добро пожаловать, на нашу семейную ферму Мартемьяновых. Раньше, в 2016 году, когда мы приобрели земельный участок в семь гектаров, здесь было все заброшено – требовались: «генеральная уборка» и вложения.
                    </p>
                </div>
            </div>
            <div class="section-5__block_item">
                <div class="section-5__block_item_img">
                    <img src="../../assets/img/section-5__img-2.jpg" alt="">
                </div>
                <div class="section-5__block_item_text">
                    <p>В селе Верхние Пинячи на нескольких поворотах установлены указатели «Птицеферма», ведущие в крестьянско-фермерское хозяйство Артура Мартемьянова. Все продумано – чтобы поставщики птенцов и оптовики не заплутали. Вот и мы, съехав с основной трассы «Заинск- Набережные Челны», в течение пары минут добрались до места.</p>
                    <p>
                        Не офисная встреча <br>
                        Приехали в «горячую» пору. На въезде в птицеферму полным ходом шла стройка. Тут возводится новый объект – закрытый дезбарьер, который является необходимым требованием времени. Это сооружение рассчитано для дезинфекции транспорта, въезжающего на территорию.
                        <br>
                        - Где ваш руководитель? Как пройти к нему в офис? – спрашиваю у рабочих. <br>
                        - Да вот же он – с нами работает? Но офис у него тоже есть! – отвечают мне. <br>
                        С самой верхней точки строительных лесов, установленных возле дезбарьера, с улыбкой смотрит руководитель: молодой человек – не в строгом костюме, а в обычной рабочей одежде, очень открытый и простой в общении – не испортили его деньги, дающиеся нелегко, а с большим трудом. Артур Мартемьянов за считанные секунды спустился вниз.
                        <br>
                        - Привык все делать своими руками и держать дела под контролем. Поэтому сейчас нахожусь вместе с рабочими на высоте, - говорит фермер. – Добро пожаловать, на нашу семейную ферму Мартемьяновых. Раньше, в 2016 году, когда мы приобрели земельный участок в семь гектаров, здесь было все заброшено – требовались: «генеральная уборка» и вложения.
                    </p>
                </div>
            </div>
            <div class="section-5__block_item">
                <div class="section-5__block_item_img">
                    <img src="../../assets/img/section-5__img-3.jpg" alt="">
                </div>
                <div class="section-5__block_item_text">
                    <p>
                        Цвета солнца и очень теплые <br>
                        - Пойдемте, покажу вам «гогочущую стаю». На данный момент выращиваем уток – им отроду чуть больше недели. Возьмите их в руки, они не только внешне цвета солнца, но и такие же теплые, - говорит фермер и передает птенца мне.
                        <br>
                        - И, правда, теплые, - соглашаюсь с Артуром Мартемьяновым. <br>
                        Выращивать птицу в Верхних Пинячах и Калинино стал с 2017 года.Заказывает птенцов кур-несушек и бройлеров с Удмуртии, а уток с Оренбурга. В течение года выпускает одну партию кур-несушек, шесть – уток, три – бройлеров. Если раньше держал 15 тысяч кур, то теперь 73 тысячи, 60 тысяч уток – 130 тысяч, 13 тысяч бройлеров – 45 тысяч (соответственно).
                        <br>
                        - Получил и республиканский грант в 1,5 миллиона рублей. Направил средства на приобретение молодняка птиц. Был и кредит в 600 тысяч рублей от Министерства экономики Татарстана. Эти деньги пошли на строительство корпуса, - сообщил Артур.
                        <br>
                        По словам владельца хозяйства, каждый раз перед тем, как поселить в корпусах суточных птенцов, помещения чистятся и дезинфицируются. После побелки пол (вместе с ним и воздух) нагревают от 30 до 32 градусов, после его засыпают опилками. Далее в «кормушки» засыпается корм, которого, в день только на один корпус уходит до трех тонн.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.section-5__block -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-5 -->