<div class=" modal modal-call">
    <div class="modal-call__form">
        <div class="modal-close">
            &times;
        </div>
        <div class="form_title">
            Заполните формы <br>
            и мы свяжемся с Вами <br>
            в течении 15 минут!
        </div>
        <form class="form" id="mc-form" method="POST" novalidate="novalidate">
            <div class="form_group">
                <label class="label" for="mv-name">Ваше имя</label>
                <input class="input" type="text" id="mv-name" name="mc_input_name" required="">
            </div>
            <div class="form_group">
                <label class="label" for="mv-tel">Номер телефона</label>
                <input class="input js-input-tel" type="tel" id="mv-tel" name="mc_input_tel" required="">
            </div>
            <button class="form__btn">Отправить</button>
        </form>
    </div>
    <!-- /.modal-call__form -->
</div>
<!-- /.modal-call -->