<div class="section-6" id="section-6">
    <div class="container">

        <h2 class="h2">фотогалерея</h2>
        
        <div class="section-6__gallery">
            <a data-fancybox="gallery" href="../../assets/img/gallery-1.jpg" class="section-6__gallery_item">
                <img class="section-6__gallery_item_img" src="../../assets/img/gallery-small-1.jpg" alt="">
            </a>
            <a data-fancybox="gallery" href="../../assets/img/gallery-2.jpg" class="section-6__gallery_item">
                <img class="section-6__gallery_item_img" src="../../assets/img/gallery-small-2.jpg" alt="">
            </a>
            <a data-fancybox="gallery" href="../../assets/img/gallery-3.jpg" class="section-6__gallery_item">
                <img class="section-6__gallery_item_img" src="../../assets/img/gallery-small-3.jpg" alt="">
            </a>
            <a data-fancybox="gallery" href="../../assets/img/gallery-4.jpg" class="section-6__gallery_item">
                <img class="section-6__gallery_item_img" src="../../assets/img/gallery-small-4.jpg" alt="">
            </a>
            <a data-fancybox="gallery" href="../../assets/img/gallery-5.jpg" class="section-6__gallery_item">
                <img class="section-6__gallery_item_img" src="../../assets/img/gallery-small-5.jpg" alt="">
            </a>
        </div>
        <!-- /.section-6__gallery -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-6 -->