.section-6 {
  padding: 80px 0;
  background-color: $white;
}

.section-6__gallery {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.3fr;
  grid-gap: 3px;
}

.section-6__gallery_item {
  position: relative;
  overflow: hidden;
  padding-bottom: 220px;
  &:nth-child(1) {
    grid-area: 1/2/3/1;
  }
}

.section-6__gallery_item_img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  min-width: 100%;
  min-height: 100%;
}