<div class="section-4" id="section-4">
    <div class="container">

        <h2 class="h2">календарь</h2>

        <div class="section-4__block">
            <div class="section-4__block_item">
                <div class="section-4__block_item_images">
                    <div class="section-4__block_item_img">
                        <img src="../../assets/img/section-4__img-1.png" alt="">
                    </div>
                    <div class="section-4__block_item_img">
                        <img src="../../assets/img/section-4__img-2.png" alt="">
                    </div>
                </div>
                <div class="section-4__block_item_desc">
                    Продажа кур несушек породы Ломан браун, Ломан лсл
                </div>
            </div>
            <div class="section-4__block_item">
                <div class="section-4__block_item_images">
                    <div class="section-4__block_item_img">
                        <img src="../../assets/img/section-4__img-3.png" alt="">
                    </div>
                    <div class="section-4__block_item_img">
                        <img src="../../assets/img/section-4__img-3.png" alt="">
                    </div>
                </div>
                <div class="section-4__block_item_desc">
                    Цыплята Бройлер породы Росс 308 и Уток породы Темп
                </div>
            </div>
        </div>
        <!-- /.section-4__block -->

        <ul class="section-4__list">
            <li class="section-4__list_item pink">Январь</li>
            <li class="section-4__list_item pink">Февраль</li>
            <li class="section-4__list_item pink">Март</li>
            <li class="section-4__list_item pink">Апрель</li>
            <li class="section-4__list_item green">Май</li>
            <li class="section-4__list_item green">Июнь</li>
            <li class="section-4__list_item green">Июль</li>
            <li class="section-4__list_item green">Август</li>
        </ul>
        <!-- /.section-4__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-4 -->