<div class="section-3">
    <div class="container">
        
        <h2 class="h2">цифры</h2>
        
        <ul class="section-3__list">
            <li class="section-3__list_item">
                <div class="section-3__list_item_title">1 000 000</div>
                <div class="section-3__list_item_subtitle">Объем кур в год</div>
            </li>
            <li class="section-3__list_item">
                <div class="section-3__list_item_title">2015</div>
                <div class="section-3__list_item_subtitle">Год основания компании</div>
            </li>
            <li class="section-3__list_item">
                <div class="section-3__list_item_title">10</div>
                <div class="section-3__list_item_subtitle">Ферм</div>
            </li>
            <li class="section-3__list_item">
                <div class="section-3__list_item_title">8</div>
                <div class="section-3__list_item_subtitle">Сотрудников</div>
            </li>
        </ul>
        <!-- /.section-3__list -->
        
    </div>
    <!-- /.container -->
</div>
<!-- /.section-3 -->