<div class="section-1">
    <div class="container">

        <div class="section-1__form">
            <h1 class="section-1__title">
                Семейная птицеферма <br>
                Мартемьяновых
            </h1>
            <div class="form_title">Оставьте заявку</div>
            <form class="form" id="s1-form" method="POST" novalidate="novalidate">
                <div class="section-1__form_grid">
                    <div class="form_group">
                        <label class="label" for="section-1-name">Ваше имя</label>
                        <input class="input" type="text" id="section-1-name" name="s1_input_name" required>
                    </div>
                    <div class="form_group">
                        <label class="label" for="section-1-tel">Номер телефона</label>
                        <input class="input js-input-tel" type="tel" id="section-1-tel" name="s1_input_tel" required>
                    </div>
                </div>
                <button class="form__btn">Отправить</button>
            </form>
        </div>
        <!-- /.section-1__form -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-1 -->